.create_product__container{
    @apply flex flex-col justify-start items-center w-full min-h-screen h-screen;
}
.create_product__form{
    @apply h-auto w-full flex flex-wrap p-4 m-4 justify-around items-center bg-gray-300 rounded-xl;
}
.cp_input__container--name{
    @apply flex flex-col sm:flex-row w-full sm:w-9/12;
}
.cp_input--title{
    @apply p-2 rounded-2xl w-full font-sans text-2xl sm:text-5xl text-indigo-500  border-2 sm:border-none sm:outline-none sm:focus:border-transparent;
}
.cp_input__container{
    @apply flex flex-col md:flex-row w-full sm:w-1/3 m-4 justify-center items-center; 
}
.cp_input{
    @apply relative w-full p-2 
    rounded-2xl
    text-lg sm:text-4xl  
    placeholder-gray-600
    focus:placeholder-blue-600
    text-blue-600
    focus:text-blue-600
    focus:outline-none
    focus:border-blue-600
    ; 
}

/*

.{
    @apply;
}
.{
    @apply;
}
.{
    @apply;
}
*/