.login__container{
    @apply p-6 
    w-full
    lg:w-1/2
    bg-white
    sm:bg-gray-300
    rounded-xl
    text-center
    flex flex-col justify-center items-center;
}

.login__footer{
    @apply 
    flex flex-col sm:flex-row justify-center items-center
    ;
}

.input{
    @apply m-4
    py-1 px-2
    placeholder-gray-400
    border-gray-400
    border-2
    rounded-lg
    text-blue-600
    font-medium
    focus:outline-none;
}

.login__btn{
    @apply m-2 p-4 mt-4
    font-bold text-2xl
    text-center
    text-white
    bg-gradient-to-b from-blue-600  to-blue-400
    hover:text-blue-900
    rounded-xl
    focus:outline-none;
}

.link{
    @apply m-2 
    font-semibold underline text-base sm:text-lg  text-blue-600 hover:text-blue-900
    ;
}

.footer{
    @apply absolute bottom-2  w-full text-center;
}